<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=h1, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>About</title>
    <link rel="icon" href="/img/weather-forecast.png">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
    </div>    

    {{>footer}}
  </body>
</html>